
<div>
  <h1>ﾉﾉﾑﾘｯｼｭ翻訳</h1>

  <hr/>

  <h3>日本語</h3>

  <%= form_tag "/translations", :method => :post, :remote => true do %>
  <textarea name="text"></textarea>
    <input type="submit" value="翻訳"/>

    <br/>

    ののむら度:
    <select name="level">
      <option value="50">やや...ｸﾞｽﾞｯ...ののむら</option>
      <option value="10" selected>ののむらｱｱｱｱｧｧ↑</option>
      <option value="1">すごいｱｩｯｱｩｵｩｳののむらｵｩｳｱ゛ｱｱｱｱｱｱｱｱｱｱｱｱｱーーーｩｱﾝ</option>
    </select>
  <% end %>

  <hr/>

  <h3>例文</h3>

  <p>
    政務活動費の不正使用疑惑を受けた兵庫県の野々村竜太郎県議（４７）の「号泣会見」が、海外メディアにも相次いで取り上げられていることが３日、分かった。英紙などは「フルスロットル謝罪」との見出しが付き、高い関心を示している。また、兵庫県議会への苦情は、約７４０件にも上っており、批判の声が高まっている。<br/>
      <br/>
  　常軌を逸した号泣会見が、海外にも広まってしまった。英国タイムズ紙（電子版）は、野々村県議が城崎温泉などに日帰り出張を繰り返していたことに絡め「温泉スキャンダルでフルスロットルの謝罪」と題して紹介。
  </p>

  <hr/>

  <h3>ﾉﾉﾑﾘｯｼｭ語</h3>

  <div id="result">政務活動費の不正使用疑惑ｩｯﾊｰ↑ｸﾞｽﾞｯをｸﾞｽﾞｯ受けたｱｩｯｱｩｵｩｳ兵庫県の野々村竜太郎ﾝﾄﾞｩｯﾊｯﾊｯﾊｯﾊｯﾊｱｱｱｱｧｧ↑県議ﾝﾄﾞｩｯﾊｯﾊｯﾊｯﾊｯﾊｱｱｱｱｧｧ↑（ｸﾞｽﾞｯ４７）の「号泣ｱ゛ｧｱﾝ！！！会見」が、海外メディアにｱ゛ｧｱﾝ！！！もﾝｧｯ↑ﾊｯﾊｯ相次いで取り上げられていることがｱｩｯｱｩｵｩｳ３日、分かっｩｵｩｳｱ゛ｱｱｱｱｱｱｱｱｱｱｱｱｱーーーｩｱﾝた。ﾝｧｯ↑ﾊｯﾊｯ英紙ｸﾞｽﾞｯなどはﾊｯﾊｰｗｗｗｗｗｗｳ゛ﾝ！！「フルスロットル謝罪ｱ゛ｧｱﾝ！！！」ｱ゛ｧｱﾝ！！！とﾝﾄﾞｩｯﾊｯﾊｯﾊｯﾊｯﾊｱｱｱｱｧｧ↑の…ｸﾞｽﾞｯ…見出しﾝﾄﾞｩｯﾊｯﾊｯﾊｯﾊｯﾊｱｱｱｱｧｧ↑が付きﾝｩｯﾊｰ↑、高いﾝｩｯﾊｰ↑関心を示している。また、ﾝｩｯﾊｰ↑兵庫県議会への苦情は、ｸﾞｽﾞｯ約７４０件にもﾝｧｯ↑ﾊｯﾊｯ上っており、批判の声がﾊｯﾊｰｗｗｗｗｗｗｳ゛ﾝ！！高まってｯﾍｯﾍｴｴｪｴｪｴｴｲ↑↑↑↑いる。 ﾝｩｯﾊｰ↑ 　常軌を逸した号泣ｱ゛ｧｱﾝ！！！会見が、海外にｱ゛ｧｱﾝ！！！も広まってﾃﾞｰ！しまっｩｯﾊｰ↑ｸﾞｽﾞｯた。英国タイムズ紙ｸﾞｽﾞｯ（電子ｱ゛ｧｱﾝ！！！版）はｱ゛ｱｱｱｱｱｱｱｱｱｱｱｱｱーーーｩｱﾝ！、ｸﾞｽﾞｯ野々村県議が城崎…ｸﾞｽﾞｯ…温泉などに日帰り出張をﾝｧｯ↑ﾊｯﾊｯ繰り返していﾝｧｯ↑ﾊｯﾊｯたことに絡め「ﾝｩｯﾊｰ↑温泉スキャンダルでフルスロットルの謝罪ﾝｧｯ↑ﾊｯﾊｯ」と題し…ｸﾞｽﾞｯ…て紹介。</div>

  <hr/>

  <h3>API</h3>

  <a href="/translations.json?text=翻訳したいテキスト">/translations.json?text=翻訳したいテキスト</a> だぞ

  <br/>
</div>


